<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{lista.titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Pending task

    </ion-list-header>

    <ion-item>
        <ion-icon name="add" item-start></ion-icon>
      <ion-label floating>New item</ion-label>
      <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()">

      </ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="lista.items.length > 0">

    <ion-list>
      <h3 text-center>To do</h3>
    </ion-list>

    <ion-item-sliding *ngFor="let item of lista.items, let i= index" class="animated fadeInDown">
      <button ion-item detail-none (click)="actualizarTarea(item)">
        <ion-icon *ngIf="!item.completado" name="square-outline" item-start></ion-icon>
        <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
        {{item.descripcion}}

      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrar()">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ion-item-options>


    </ion-item-sliding>



  </ion-list>



</ion-content>