<ion-list>

    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:false">

      <button ion-item (click)="listaSeleccionada(lista)" text-capitalize>
        {{ lista.titulo }}

        <ion-note color="light" item-end> {{ lista.items.length}} items </ion-note>
      </button>

      <ion-item-options side="left">

        <button ion-button icon-only color="danger" (click)="borrarLista(lista)" >
          <ion-icon name="close"></ion-icon>
          Del
        </button>


      </ion-item-options>

    </ion-item-sliding>


  </ion-list>